<div id="confirmDeleteModal" class="modalDiseTodo" style="display: none;">
    <div class="modal-content-diseTodo">
        <span class="close-button">&times;</span>
        <h5>Confirmar Eliminación</h5>
        <p class="mnsg">¿Está seguro de que desea eliminar este registro?</p>
        <div class="modal-footer">
            <button id="cancelButton" class="btn btn-close">Cancelar</button>
            <button id="confirmDeleteButton" class="btn btn-danger">Eliminar</button>
        </div>
    </div>
</div>