<!-- Modal de Éxito -->
<div id="errorModal" class="modalDiseTodo" style="display: none;">
    <div class="modal-content-diseTodo">
        <span class="close-button" id="btn-x">&times;</span>
        <h5 class="modal-title">ADVERTENCIA</h5>
        <div class="modal-body">
            <p>Debe delimitar primero la parcela antes de guardarla.</p>
        </div>
        <div class="modal-footer">
            <button type="button" id="btn-error-cerrar" class="btn btn-ok">OK</button>
        </div>
    </div>
</div>
