<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Editar Bitácora</title>
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bitacora_style.css') }}">
    <link href="https://unpkg.com/maplibre-gl/dist/maplibre-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
</head>

<body>
    <nav class="navbar">
        <div class="navbar-left">
            <a href="{{ url_for('bitacora_route.mostrar_bitacoras') }}" class="btn-regresar">
                <i class='bx bx-chevron-left'></i>
                <span class="text nav-text">Regresar</span>
            </a>
        </div>
        <div class="navbar-center">
            <h5>Editar bitácora de Cultivo</h5>
        </div>
        <div id="div-button" class="navbar-right">
            <button id="btn_e_vuelo" class="btn_e_vuelo">
                <i class='bx bx-trash-alt'></i>
                Editar plan de vuelo</button>
            <button class="btn-guardar-z" id="btn-guardar">
                <i class='bx bx-map icon'></i>
                Actualizar bitácora</button>
        </div>
    </nav>
    <div class="container">
        <section class="info-section">
            <div class="info-icon">
                <i class='bx bx-info-square icon-class'></i>
                <span>Información general</span>
            </div>
            <form id="bitacora-form" method="POST"
                action="{{ url_for('bitacora_route.postUpdate', id=bitacora.document_id) }}">
                <input id="csrf_token_register" name="csrf_token" type="hidden"
                    value="{{ form.csrf_token.current_token }}">
                <input type="hidden" name="id" id="id" value="{{ bitacora.document_id }}">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nombre">Nombre:</label>
                        {{ form.nombre_bitacora(class="form-control", id="nombre_bitacora", value=bitacora.nombre) }}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="fecha-apertura">Fecha de apertura del cultivo:</label>
                        {{ form.fecha_apertura(class="form-control", id="fecha_apertura", value=bitacora.fecha_apertura)
                        }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="fecha-inicio">Fecha de inicio del cultivo:</label>
                        {{ form.fecha_inicio(class="form-control", id="fecha_inicio", value=bitacora.fecha_inicio) }}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="fecha-fin">Fecha de fin del cultivo:</label>
                        {{ form.fecha_fin(class="form-control", id="fecha_fin", value=bitacora.fecha_fin) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="tipo-cultivo">Seleccione tipo de cultivo:</label>
                        <select name="tipo_cultivo" id="tipo_cultivo_" class="form-control">
                            <option value="">Seleccione</option>
                            <option value="E1" {% if bitacora.tipo_cultivo=='E1' %} selected {% endif %}>Estacionario
                            </option>
                            <option value="R2" {% if bitacora.tipo_cultivo=='R2' %} selected {% endif %}>Rotativo
                            </option>
                        </select>
                    </div>
                </div>

                <!-- Datos del responsable -->
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="bx bx-user-circle"></i> Datos del responsable
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="nro_ident_enc">Nro. de identificación:</label>
                                {{ form.nro_ident_enc(class="form-control", id="buscar_responsable", placeholder="Buscar
                                responsable por nro de documento o nombres...",
                                oninput="filtrarClientes('buscar_responsable', 'resultados_responsable',
                                'responsable')", value=bitacora.nro_ident_enc) }}
                                <div id="resultados_responsable" class="list-group"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="nombre_encargado">Nombre del responsable:</label>
                                <div class="d-flex align-items-center">
                                    {{ form.nombre_encargado(class="form-control", id="nombre_encargado",
                                    value=bitacora.nombre_encargado) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Datos de las personas que intervienen -->
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="bx bx-group"></i> Personas que intervienen
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="personas">Buscar personas / empresas:</label>
                            <input placeholder="Buscar persona que interviene" type="text" class="form-control"
                                id="buscar_personas"
                                oninput="filtrarClientes('buscar_personas', 'resultados_personas', 'intervienen')">
                            <div id="resultados_personas" class="list-group"></div>
                            <div class="form-group">
                                <label>Lista de personas que intervienen:</label>
                                {{ form.personas_json(id='personas_json', value=bitacora.listPersonas) }}
                                <ul id="lista_personas" class="list-group">
                                    <!-- Aquí iría el listado de personas -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Equipos -->
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="bx bx-cog"></i> Equipos
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="equipos">Buscar Equipos:</label>
                            <input placeholder="Buscar equipo" type="text" class="form-control" id="buscar_herramientas"
                                oninput="filtrarHerramientas('buscar_herramientas', 'resultados_herramientas')">
                            <div id="resultados_herramientas" class="list-group"></div>
                        </div>
                        <div class="form-group">
                            <label>Lista de equipos:</label>
                            {{ form.equipos_json(id='equipos_json', value=bitacora.lista_herramientas) }}
                            <!-- Aquí iría el listado de equipos -->
                            <ul id="lista_herramientas" class="list-group">
                                <!-- Aquí iría el listado de herramientas -->
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Datos de zona -->
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="title-container">
                            <i class='bx bx-map icon'></i> Zona
                        </div>
                        <p class="info-zona">Información de la zona a cultivar</p>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="zonas">Seleccionar zona:</label>
                            <input placeholder="Buscar zona" type="text" class="form-control" id="buscar_zonas"
                                oninput="filtrarZonas('buscar_zonas', 'resultados_zonas')">
                            <div id="resultados_zonas" class="list-group"></div>
                        </div>
                        <div class="form-group">
                            <label>Zona seleccionada:</label>
                            {{ form.nombre_zona(id='nombre_zona', value=bitacora.nombre_zona) }}
                            {{ form.coordenadas_zona(id='coordenadas_zona', value=bitacora.coordenadas_zona) }}
                            {{ form.id_zona(id='id_zona', value=bitacora.id_zona) }}
                            {{ form.lista_parcelas(id='lista_parcelas', value=bitacora.lista_parcelas) }}
                            <ul id="lista_zonas" class="list-group">
                                <!-- Aquí iría el listado de zonas -->
                            </ul>
                        </div>
                        <div id="mapDiv" style="display: none;">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/maplibre-gl/dist/maplibre-gl.js"></script>
    <script src="https://unpkg.com/@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.js"></script>
    <script src="{{ url_for('static', filename='js/editar_bitacora.js') }}"></script>
</body>

</html>