<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Editar Protocolo</title>
    <!-- Boxicons CSS -->
    <link rel="icon" href="{{ url_for('static', filename='img/logo-modal.png') }}" type="image/png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bitacora_style.css') }}">
</head>

<body>
    <input id="es_editar" hidden />
    <nav class="navbar">
        <div class="navbar-left">
            <a href="{{ url_for('protocolo_route.mostrar_protocolos') }}" class="btn-regresar">
                <i class='bx bx-chevron-left'></i>
                <span class="text nav-text">regresar</span>
            </a>
        </div>
        <div class="navbar-center">
            <h5>Editar Protocolo</h5>
        </div>
        <div id="div-button" class="navbar-right">
            <button class="btn-guardar-z" id="btn-guardar">
                <i class='bx bx-notepad icon'></i>
                actualizar protocolo</button>
        </div>
    </nav>
    <div class="container">
        <section class="info-section">
            <div class="info-icon">
                <i class='bx bx-notepad icon'></i>
                <span>Información del protocolo</span>
            </div>
            <form id="bitacora-form" method="POST"
                action="{{ url_for('protocolo_route.actualizar_protocolo', id=protocolo.document_id) }}">
                <input id="csrf_token_register" name="csrf_token" type="hidden"
                    value="{{ form.csrf_token.current_token }}">
                <!--Información general del protocolo-->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="fechaInicio">Fecha inicio del protocolo:</label>
                        {{ form.fecha_inicio_pres(class="form-control", id="fecha_inicio_pres",
                        value=protocolo.fecha_inicio_pres) }}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="fechaFin">Fecha fin del protocolo:</label>
                        {{ form.fecha_fin_pres(class="form-control", id="fecha_fin_pres",
                        value=protocolo.fecha_fin_pres) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nombre">Nombre:</label>
                        {{ form.nombre_pres(class="form-control", id="nombre_pres", value=protocolo.nombre_pres) }}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="altQuimica">Se aplica alternativa quimica:</label>
                        {{ form.alt_no_quimica(class="form-control", id="alt_no_quimica",
                        value=protocolo.alt_no_quimica) }}
                    </div>
                </div>
                <div class="form-row" id="descAltQuimicaSection"
                    style="display: {% if protocolo.alt_no_quimica == 'A1' %}block{% else %}none{% endif %};">
                    <div class="form-group col-12">
                        <label for="descAltQuimica">Escriba la descripción de la aplicacion de alternativa:</label>
                        <div class="input-container-pro">
                            {{ form.descr_alt_no_quimica(class="form-control", id="descr_alt_no_quimica",
                            value=protocolo.descr_alt_no_quimica) }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="detectPlaga">Detección de plaga a controlar:</label>
                        {{ form.detec_plaga(class="form-control", id="detec_plaga", value=protocolo.detec_plaga) }}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="evalCultivo">Evaluación de hidratación del cultivo:</label>
                        {{ form.hidrat_cultivo(class="form-control", id="hidrat_cultivo",
                        value=protocolo.hidrat_cultivo) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="evalSuelo">Evaluación de nutrientes del suelo:</label>
                        {{ form.nutren_suelo(class="form-control", id="nutren_suelo", value=protocolo.nutren_suelo) }}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="DosisU">Dosis utilizada:</label>
                        {{ form.dosis_util(class="form-control", id="dosis_util", value=protocolo.dosis_util) }}
                    </div>
                </div>
                <!-- Información de la bitácora -->
                <div class="card mb-4">
                    <div class="card-header">
                        <i class='bx bx-book-content'></i> Datos de la bitácora
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="dat_bitacora">Seleccionar bitacora:</label>
                                <div class="input-container">
                                    {{ form.id_cuaderno(class="form-control", id="id_cuaderno",
                                    value=protocolo.id_bitacora) }}
                                    {{ form.dat_bitacora(class="form-control", value=protocolo.nombre_bitacora,
                                    id="buscar_dat_bitacora",
                                    placeholder="Buscar bitácora por nombre",
                                    oninput="filtrarBitacora('buscar_dat_bitacora', 'resultados_dat_bitacora')") }}
                                </div>
                                <div id="resultados_dat_bitacora" class="list-group"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Vuelos -->
                <div class="card mb-4">
                    <div class="card-header">
                        <i class='bx bxs-plane-alt'></i> Información obtenida desde:
                        {{form.infor_obt_desde(class="form-control", id="id_infor_obt_desde",
                        value=protocolo.infor_obt_desde) }}
                    </div>
                    <!--Apartado de vuelos-->
                    <div class="vuelos-card-body card-body"
                        style="display: {% if protocolo.infor_obt_desde == 'V1' %}block{% else %}none{% endif %};">
                        <div class="form-group">
                            <label for="vuelos">Buscar vuelo</label>
                            <input placeholder="Buscar vuelo" type="text" class="form-control" id="buscar_vuelo"
                                oninput="obtenerVuelos(document.getElementById('id_cuaderno').value, 'buscar_vuelo', 'resultados_vuelos')">
                            <div id="resultados_vuelos" class="list-group"></div>
                        </div>
                        <div class="form-group">
                            <h5>Vuelos seleccionados</h5>
                            <table class="table table-light table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombre</th>
                                        <th>Fecha</th>
                                        <th>Duración</th>
                                        <th>Periocidad</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="lista_vuelos">
                                    {% for vuelo in protocolo['lista_vuelos']|default([]) %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ vuelo['nombre'] }}</td>
                                        <td>{{ vuelo['fecha'] }}</td>
                                        <td>{{ vuelo['duracion'] }}</td>
                                        <td>{{ vuelo['periocidad'] }}</td>
                                        <td><button type="button" class="btn btn-danger"
                                                onclick="eliminarVuelo(this, '{{ vuelo['document_id'] }}')"><i
                                                    class='bx bx-trash-alt'></i></button></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {{ form.list_vuelo_select(id='lista_vuelos_select') }}
                    </div>
                    <!-- Apartado de detectores -->
                    <div class="detectores-card-body card-body"
                        style="display: {% if protocolo['infor_obt_desde'] == 'D2' %}block{% else %}none{% endif %};">
                        <div class="form-group">
                            <label for="detectores">Buscar sensor</label>
                            <input placeholder="Buscar sensor" type="text" class="form-control" id="buscar_sensor"
                                oninput="obtenerDetectores(document.getElementById('id_cuaderno').value, 'buscar_sensor', 'resultados_detectores')">
                            <div id="resultados_detectores" class="list-group"></div>
                        </div>
                        <div class="form-group">
                            <h5>Sensores seleccionados</h5>
                            <table class="table table-light table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombre</th>
                                        <th>Fecha</th>
                                        <th>Duración</th>
                                        <th>Periocidad</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="lista_detectores">
                                    {% for detector in protocolo['lista_detectores']|default([]) %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ detector['nombre'] }}</td>
                                        <td>{{ detector['fecha'] }}</td>
                                        <td>{{ detector['duracion'] }}</td>
                                        <td>{{ detector['periocidad'] }}</td>
                                        <td><button type="button" class="btn btn-danger"
                                                onclick="eliminarDetector(this, '{{ detector['document_id'] }}')"><i
                                                    class='bx bx-trash-alt'></i></button></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {{ form.list_detect_select(id='lista_detectores_select') }}
                    </div>
                    <!-- Apartado de inspecciones -->
                    <div class="inspecciones-card-body card-body"
                        style="display: {% if protocolo['infor_obt_desde'] == 'I3' %}block{% else %}none{% endif %};">
                        <div class="form-group">
                            <label for="inspecciones">Buscar inspección</label>
                            <input placeholder="Buscar inspección" type="text" class="form-control"
                                id="buscar_inspeccion"
                                oninput="obtenerInspecciones(document.getElementById('id_cuaderno').value, 'buscar_inspeccion', 'resultados_inspecciones')">
                            <div id="resultados_inspecciones" class="list-group"></div>
                        </div>
                        <div class="form-group">
                            <h5>Inspecciones seleccionadas</h5>
                            <table class="table table-light table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombre</th>
                                        <th>Fecha</th>
                                        <th>Duración</th>
                                        <th>Periocidad</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="lista_inspecciones">
                                    {% for inspeccion in protocolo['lista_inspecciones']|default([]) %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ inspeccion['nombre'] }}</td>
                                        <td>{{ inspeccion['fecha'] }}</td>
                                        <td>{{ inspeccion['duracion'] }}</td>
                                        <td>{{ inspeccion['periocidad'] }}</td>
                                        <td><button type="button" class="btn btn-danger"
                                                onclick="eliminarInspeccion(this, '{{ inspeccion['document_id'] }}')"><i
                                                    class='bx bx-trash-alt'></i></button></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {{ form.list_insp_select(id='lista_inspecc_select') }}
                    </div>
                </div>
                <!-- Herramientas -->
                <div class="card mb-4">
                    <div class="card-header">
                        <i class='bx bxs-briefcase-alt-2 icon'></i> Herramientas:
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="herramientas">Buscar herramienta</label>
                            <input placeholder="Buscar herramienta" type="text" class="form-control"
                                id="buscar_herramienta"
                                oninput="obtenerHerramientas(document.getElementById('id_cuaderno').value, 'buscar_herramienta', 'resultados_herramientas')">
                            <div id="resultados_herramientas" class="list-group"></div>
                        </div>
                        <div class="form-group">
                            <h5>Herramientas seleccionadas</h5>
                            <table class="table table-light table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombre herramienta</th>
                                        <th>Funcionalidad</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="lista_herramientas">
                                    {% for herramienta in protocolo['lista_herramientas']|default([]) %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ herramienta['nombre'] }}</td>
                                        <td>{{ herramienta['funcionalidad'] }}</td>
                                        <td><button type="button" class="btn btn-danger"
                                                onclick="eliminarHerramienta(this, '{{ loop.index }}')"><i
                                                    class='bx bx-trash-alt'></i></button></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {{ form.list_herra_select(id='lista_herra_select') }}
                    </div>
                </div>
            </form>
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/protocolo_scripts.js') }}"></script>
</body>

</html>