<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->

    <link rel="icon" href="{{ url_for('static', filename='img/logo-modal.png') }}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>FORMULARIO DE REGISTRO E INICIO SESIÓN</title>
</head>

<body>
    <!--Aqui se insertara los contenedores de login y register-->
    {% block content %}
    {% include 'iniciar_sesion/login.html' %}
    {% endblock %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>